
<h2> Others input</h2>
<%= form_with(model: Other.new(vehicle_id: @vehicle_id)) do |f| %>
   <div class="form-group">
       <%= f.label :date, "Date" %>
       <%= f.date_field :date, class: "form-control" %>
   </div>
   <div class="form-group">
       <%= f.label :total_amount, "Total_Amount" %>
       <%= f.text_field :total_amount, class: "form-control" %>
   
　 <div class="form-group">
　  <%= f.hidden_field :vehicle_id, value: @vehicle_id %>
    <%= f.submit "Regist" %>
   </div>  

<% end %>