<h1>Cost&Profit of Trucks</h1>

<div id="vehicle_sales_list">
    <ul class="vslist_head">
     <li>ID</li>
     <li>Insurance</li>
     <li>Highway</li>
     <li>Others</li>
     <li>Fuel</li>
     <li>Mileage</li>
     <li>Km/L</li>
     <li>Fuel Price</li>
     <li>DirectLaborCost</li>
     <li>Ind.LaborCost</li>
     <li>SpecialCost</li>
     <li>OtherCost</li>
     <li>SalesMonth</li>
     <li>ProfitMonth</li>
    </ul>
    <% @vehicle_sales.each do |vehiclesale| %>
    <ul>
      <li><%= vehiclesale.vehicle_id %></li>
      <li><%= vehiclesale.insurance %></li>
      <li><%= vehiclesale.highway %></li>
      <li><%= vehiclesale.others %></li>
      <li><%= vehiclesale.fuel %></li>
      <li><%= vehiclesale.mileage%></li>
      <li><%= vehiclesale.fuel_consumption.to_f.round(2) %></li>
      <li><%= vehiclesale.fuel_price %></li>
      <li><%= vehiclesale.direct_labor_cost%></li>
      <li><%= vehiclesale.indirect_labor_cost %></li>
      <li><%= vehiclesale.special_cost %></li>
      <li><%= vehiclesale.other_cost %></li>
      <li><%= vehiclesale.sales_month %></li>
      <li><%= vehiclesale.profit_month %></li>
    </ul>
   <% end %>
</div>

<%= paginate @vehicle_sales %>

