<div class="row bg-red">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_for(@vehicle_sale) do |f| %>
    
     <div class="form-group">
         <%= f.label :vehicle_id, 'Vehicle_ID' %>
         <%= f.text_field :vehicle_id, class: 'form-control' %>
     </div>
  
     <div class="form-group">
         <%= f.label :date, 'Date' %>
         <%= f.date_field :date, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :insurance, 'Insurance' %> <%= link_to "input", new_insurance_path, remote:true, class:"ml-4 btn btn-xs btn-primary" %>
         <%= f.number_field :insurance, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :highway, 'Highway' %>
         <%= f.number_field :highway, class: 'form-control' %>
     </div>
     
      <div class="form-group">
         <%= f.label :others, 'Others' %>
         <%= f.number_field :others, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :fuel, 'Fuel' %>
         <%= f.number_field :fuel, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :mileage, 'Mileage' %>
         <%= f.number_field :mileage, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :fuel_consumption, 'Fuel_consumption' %>
         <%= f.number_field :fuel_consumption, step:0.01, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :fuel_price, 'Fuel_price' %>
         <%= f.number_field :fuel_price, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :direct_labor_cost, 'Direct_labor_cost' %>
         <%= f.number_field :direct_labor_cost, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :indirect_labor_cost, 'Indirect_labor_cost' %>
         <%= f.number_field :indirect_labor_cost, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :special_cost, 'Special_cost' %>
         <%= f.number_field :special_cost, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :other_cost, 'Other_cost' %>
         <%= f.number_field :other_cost, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :sales_month, 'Sales_month' %>
         <%= f.number_field :sales_month, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :profit_month, 'Profit_month' %>
         <%= f.number_field :profit_month, class: 'form-control' %>
     </div>
     
     
    
    
     <%= f.submit 'Regist', class: 'btn btn-primary btn-block' %>
    <% end %>
    
  </div>
</div>

<script>
$('input#vehicle_sale_fuel').bind('input', function() {

    // alert("ここだよ");
    var fuel = $("#vehicle_sale_fuel").val();
    var mi =$("#vehicle_sale_mileage").val();
    if (mi != "" && fuel != ""){
        var fuel_consumption = Number.parseFloat(mi) / Number.parseFloat(fuel);
        var temp = Math.round(fuel_consumption * 100) / 100.0
        $("#vehicle_sale_fuel_consumption").val(temp);
    }
    
})    

$('input#vehicle_sale_mileage').bind('input', function() {

    // alert("ここだよ");
    var fuel = $("#vehicle_sale_fuel").val();
    var mi =$("#vehicle_sale_mileage").val();
    if (mi != "" && fuel != ""){
        var fuel_consumption = Number.parseFloat(mi) / Number.parseFloat(fuel);
        var temp = Math.round(fuel_consumption * 100) / 100.0
        $("#vehicle_sale_fuel_consumption").val(temp);
    }
    
})      
    
</script>