<div class="row bg-red">
  <div class="col-sm-6 offset-sm-3">
    
    

    <table class="table table-striped table-bordered bg-red">
    
     <tr>
         <th>Vehicle_ID</th>
         <td><%= @vehicle_sale.vehicle_id %></td>
     </tr>
  
     <tr>
         <th>Date</th>
         <td><%= @vehicle_sale.date %></td>
     </tr> 
     
     <tr>
         <th>Insurance</th>
         <td><%= number_with_delimiter(@vehicle_sale.insurance) %></td>
     </tr>
     
     
     <tr>
         <th>Highway</th>
         <td><%= number_with_delimiter(@vehicle_sale.highway) %></td>
     </tr>
     
     <tr>
         <th>Others</th>
         <td><%= number_with_delimiter(@vehicle_sale.others) %></td>
     </tr> 
     
     <tr>
         <th>Fuel</th>
         <td><%= number_with_delimiter(@vehicle_sale.fuel) %></td>
     </tr>
     
     <tr>
         <th>Mileage</th>
         <td><%= number_with_delimiter(@vehicle_sale.mileage) %></td>
     </tr>
    
     <tr>
         <th>Fuel_consumption</th>
         <td><%= sprintf("%.2f", @vehicle_sale.fuel_consumption)  if @vehicle_sale.fuel_consumption.present? %></td>
     </tr>
     
     <tr>
         <th>fuel_cost</th>
         <td><%= number_with_delimiter(sprintf("%.2f", @vehicle_sale.fuel_cost)) if @vehicle_sale.fuel_cost.present? %></td>
     </tr>
     
     <tr>
         <th>Direct_labor_cost</th>
         <td><%= number_with_delimiter(@vehicle_sale.direct_labor_cost) %></td>
     </tr>
     
     <tr>
         <th>Indirect_labor_cost</th>
         <td><%= number_with_delimiter(@vehicle_sale.indirect_labor_cost) %></td>
     </tr>
     
     <tr>
         <th>Special_cost</th>
         <td><%= number_with_delimiter(@vehicle_sale.special_cost) %></td>
     </tr>
     
     <tr>
         <th>Other_cost</th>
         <td><%= number_with_delimiter(@vehicle_sale.other_cost) %></td>
     </tr>
     
     <tr>
         <th>Total_cost</th>
         <td><%= number_with_delimiter(sprintf("%.2f", @vehicle_sale.total_cost)) if @vehicle_sale.total_cost.present? %></td>
     </tr>
     
     <tr>
         <th>Sales_month</th>
         <td><%= number_with_delimiter(@vehicle_sale.sales_month) %></td>
     </tr>
     
     <tr>
         <th>Profit_month</th>
         <td><%= number_with_delimiter(@vehicle_sale.profit_month) %></td>
     </tr>
     
     
     
     
    </table>
    
    <%= link_to "Edit", edit_vehicle_sale_path(@vehicle_sale), class:"btn btn-primary" %>
    <%= link_to "Delete", vehicle_sale_path(@vehicle_sale), method: :delete, class:"btn btn-danger" %>
    <%= link_to "Back To Index", vehicle_sales_path, class: "btn btn-success" %>
  </div>
</div>