

<div class="row">
 
    <div class="col-sm-3">
        <%= link_to "List Drivers", drivers_path , class: 'btn btn-danger w-100' %>
    </div>
 
</div>
<hr>
<div class="row">

    <div class="col-sm-3">
        <%= link_to "List Truck", truckindex_admin_index_path , class: 'btn btn-danger w-100' %>
    </div>
</div>
<hr>
<div class="mt-3 row">
    <div class="col-sm-3">
        <%= link_to "Make Chech Schedules", checkschedules_path, class:'btn btn-danger w-100' %>
        
    </div>
    
    
</div>
<div class="mt-3 row">
    <div class="col-sm-3">
        <%= link_to "Card Read", card_evals_path, class:'btn btn-danger w-100' %>
        
    </div>
    
    
</div>

<hr>
<div class="mt-3 row">
    <div class="col-sm-3">
        <%= link_to "Evaluate", checkresult_card_evals_path, class:'btn btn-warning w-100' %>
    </div>
</div>
<div class="mt-3 row">
    <div class="col-sm-3">
        <%= link_to "List Summary", summary_card_evals_path, class:'btn btn-warning w-100' %>
    </div>
</div>

<hr>
<div class="mt-3 row">
    <div class="col-sm-3">
        <%= link_to "Evaluation Parameters", evalparams_path, class:'btn btn-secondary w-100' %>
    </div>
    
    <div class="col-sm-3">
        <%= link_to "Make Destinations", destinations_path, class:'btn btn-secondary w-100' %>
    </div>
</div>





<hr>

<hr>



<hr>

<div class="row">
    
    <div class="col-sm-3">
        <%#= link_to "Add New Admin", newadmin_path, class: "btn btn-danger width100" %>
    </div>
    
</div>



</div>