
<% if @trucks.any? %>
    <table class="table table-striped table-bordered table-sm bg-red">
    
    <tr>
        <th>Company</th>
        <th>Branch</th>
        <th>Maker</th>
        <th>Model</th>
        <th class="w-10">Wheels</th>
        <th>number</th>
        <th class="w-10">vehicleid</th>
        <th>Driver Count</th>
    </tr>
    <% @trucks.each do |truck| %>
    
      <tr>
      <td><%= find_company(truck.company_id).name_e %></td>
      <td><%= find_branch(truck.company_id, truck.branch_id).name %>

      </td>
        <td><%= truck.maker %></td>
        <td><%= truck.model %></td>
        <td class="text-center"><%= truck.wheels %></td>
        <td class="text-center"><%= link_to truck.number, listdrivers_path(truck.number), class: "btn btn-primary btn-xs" %></td>
        <td class="text-center"><%= truck.vehicleid %></td>
        <td class="text-center"><%= truck.drivers.count %></td>
      </tr>
    
    <% end %>
    </table>
<% end %>