<div class="row">
 <aside class="col-sm-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"><%= @user.name %></h5>
        </div>
        <div class="card-body">
            <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 40 }) %>" alt="">
        </div>
    </div>
</aside>
<div class="row">
    <div class="col-10">
        <%= link_to "Vehicle Sales", new_vehicle_sale_path , class: 'btn btn-danger width200' %> 
    </div>
</div>
<div class="row">
    <div class="col-10">
        <%= link_to "Driver's Evaluation", "#" , class: 'btn btn-danger width200' %> 
    </div>
</div>
<div class="row">
    <div class="col-10">
        <%= link_to "Vahicle Daily Inspection", "#" , class: 'btn btn-danger width200' %> 
    </div>
</div>