    
<h2><%=  find_company(@company_id).name_e %></h2> 
<div class="bgwhite row mt-4">
   <div class="col-12">
    <%= form_with(scope: :card_eval, url: checkresult_card_evals_path(company_id: @company_id), local:true, multipart: true) do |f| %>
    
      <%= f.hidden_field :company_id, value: @company_id %>
      <div class="row mt-4">
          <%= date_select(:card_eval, :yearmonth, {selected: Date.today.ago(18.days), discard_day: true}, {class: "form-control"} ) %>
      </div>
      <div class="row mt-4">
           <%= label :card_eval, :branch, "Select branch" %>
           <% @branches =  Branch.json2model(allbranches(@company_id)) %>
           <%= collection_select(:card_eval, :branch_id, @branches, :id, :name, {include_blank: true, class:"form-control"}) %>
       </div>
       
       <div class="row mt-4">
           <%= label :card_eval, :file_name, "Select Card Data File" %>
           <%= file_field :card_eval, :file_name, class:"form-control" %>
       </div>
       <div class="row mt-4">
           <%= f.submit "CHECK", class:"form-control btn btn-warning" %>
       </div>
    <% end %>
   </div>
</div>