    <tr id="day6">
        <td class="day1m text-center"><%= @day1.name %></td>
        <td class="day2m text-center"><%= @day2.name %></td>
        <td class="day3m text-center"><%= @day3.name %></td>
        <td class="day4m text-center"><%= @day4.name %></td>
        <td class="day5m text-center"><%= @day5.name %></td>
        <td class="alert-primary text-center"><%= @day6.name %></td>
        <td class="alert-danger">&nbsp;</td>
    </tr>