
<% if drivers.any? %>
 <table class="table table-striped table-bordered bg-red">
     <% drivers.each do |driver| %>
      <tr>
         <td class="w-25 text-center">
             <%= (c = array_find_by(@companies, driver.company)) ? c.name_e : "" %>
         </td>
         <td class="w-25 text-center">
             <%= (b = array_find_by(@branches, driver.branch.to_i)) ? b.name : "" %>
         </td>
         <td class="w-25 pl-4">
             <%= driver.name %>
         </td>
         <td>
             <%= link_to 'View profile', driver_path(driver), class:"btn btn-primary" %>
             <%= link_to 'Delete', driver_path(driver), method: :delete, class:"btn btn-warning",
                 data: { confirm: "Delete OK?" } %>
         </td>
     </tr>
      <% end %>
     
 </table>
 <%= paginate drivers %>
<% end %>
