<%= render "users/backtouser" %>
<div class="row bg-white mt-2">
    <div class="offset-1 col-md-10">
        <div class="d-flex justify-content-between mt-2">
            <%= link_to "Prev", checkstatus_driver_path(@driver, date: @date.prev_month),
                        class: "btn btn-primary" %>
            <%= link_to "Next", checkstatus_driver_path(@driver, date: @date.next_month),
                        class: "btn btn-primary" %>
            
        </div>
    </div>
    <div class="offset-1 col-md-10 text-center">
        <h2 class="bg-white">Driver:<%= @driver.name %><br> Checks at <%= @date.strftime("%Y/%m") %></h2>
        <br>
        <div class="col-12">
          <table class="table table-striped table-bordered">
          <% (@day_begin..@day_end).each do |d| %>
              <tr>
                <td class="w-25 py-1">
                    <%= d.strftime("%Y-%m-%d") %>
                </td>
                <td class="w-75 py-1">
                    <% looplist = ["Meter", "Brake", "LampStopperTire"] %>
                    <% hashlist = {} %>
                    <% looplist.each {|key| hashlist.store(key, nil)} %>
                    <% if @days.includes?(d) %>
                        <% @checks[d].each do |item| %>
                            <% hashlist.store(item.type, item) %>
                        <% end %>
                    <% end %>
                    <% # binding.pry %>
                    <ul class="list-group list-group-horizontal">
                       <% hashlist.each_pair do |key, val| %>
                       
                           <% classstr = val ? "" : "bg-warning" %>
                           <li class="list-group-item border-primary small py-1 <%= "#{classstr}" %>">
                               <%= key %> : 
                               <%= val ? val.created_at.strftime("%H:%M") : " NONE " %>
                           </li>
                       <% end %>
                    </ul>
                </td>
               </tr>
            <% end %>
            </table>
        <% else %>
            No Data at this month
        <% end %>
        </div>
    </div>
</div>