<%= render 'admin/backtoadmin' %>
<div class="row bg-red">
    <h2>Driver Registration</h2>
  <div class="col-12">
      
    
    <%= form_for(@driver) do |f| %>
      <div class="row">
          <% if @driver.errors %>
              <div class="col-12">
                  <%= render 'layouts/error_messages', model: f.object %>
              </div>
          <% end %>
    
          <div class="offset-lg-1 col-lg-5">
                <div class="form-group row">
                     <%= f.label :name, 'Name' %>
                     <%= f.text_field :name, class: 'form-control', required: true %>
                </div>
                 
                <div class="form-group row">
                    <%= f.label :company, "Company" %>
                    <% @companies = allcompanies %>
                    <%= select("driver", "company",
                        @companies.collect { |p| [ p["name_e"], p["id"] ] },
                        { include_blank: true }, class:"form-control") %>
                </div>
                 
                 
                <div class="form-group row">
                    <%= f.label :branch, "Branch" %>
                    <% @branches = allbranches(1) %>
                    <%= select("driver", "branch",
                        @branches.collect { |p| [ p["name"], p["id"] ] },
                        { include_blank: true }, class:"form-control", required: true) %>
                </div>
              
                <div class="form-group row">
                    <%= label_tag(:trucknumber, "truck") %>
            
                    <% @trucks = alltrucks(1) %>
                    <%  array = @trucks.map{ |e| [e["number"], e["number"]]  } %>
                    <%= select_tag(:trucknumber, options_for_select(array.flatten.uniq),
                        { include_blank: true , class:"form-control", required: true}) %>
            
                </div>
              
                 <div class="form-group row">
                     <%= f.label :sex, 'Gendar' %>
                     <%= f.select :sex, {'Male': 1, 'Female': 2},
                         { include_blank: 'Please Select'},
                         { class: 'form-control' , required: true } %>
                 </div> 
                 
                 <div class="form-group row">
                     <%= f.label :date_birth, 'Date of Birth' %>
                     <%= f.date_field :date_birth, value: Date.today.years_ago(30), class: 'form-control', required: true %>
                 </div>
                 
                  <div class="form-group row">
                     <%= f.label :age, 'Age' %>
                     <%= f.number_field :age, class: 'form-control', required: true %>
                 </div>
                 
                 <div class="form-group row">
                     <%= f.label :hire_date, 'Date of Hire' %>
                     <%= f.date_field :hire_date,  value: Date.today.years_ago(10), class: 'form-control', required: true %>
                 </div>
            </div>
        <div class="offset-lg-1 col-lg-5">
          <div class="form-group row">
             <%= f.label :blood_type, 'BloodType' %>
             <%= f.select :blood_type, ['A(RH+)', 'B(RH+)', 'O(RH+)', 'AB(RH+)',
             'A(RH-)', 'B(RH-)', 'O(RH-)', 'AB(RH-)', 'Unknown'],
             { include_blank: 'Please Select'}, { class: 'form-control' , required: true } %>
         </div>
         
         <div class="form-group row">
             <%= f.label :chronic_disease, 'Chronic Disease' %>
             <%= f.text_field :chronic_disease, class: 'form-control' %>
         </div>
         
          <div class="form-group row">
             <%= f.label :accident_record, 'Accident Record' %>
             <%= f.text_field :accident_record, class: 'form-control' %>
         </div>
         
          <div class="form-group row">
             <%= f.label :vioration_record, 'Vioration Record' %>
             <%= f.text_field :vioration_record, class: 'form-control' %>
         </div>     
         
       <div class="form-group row">
             <%= f.label :email, 'email' %>
             <%= f.email_field :email, class: 'form-control', required: true %>
       </div>     
       <div class="form-group row">
             <%= f.label :password, 'password' %>
             <%= f.password_field :password, class: 'form-control', required: true %>
       </div>     
       <div class="form-group row">
             <%= f.label :password_confirmation, 'comfirmpassword' %>
             <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
       </div>     
       <div class="form-group row">
             <%= f.label :photo %>
             <%= f.file_field :photo %>
             <%= f.hidden_field :image_cache %>
       </div>
     
     </div>
     <div class="offset-lg-1 col-lg-11">
       <div class="form-group row text-right">
         <%= f.submit 'Regist', class: 'btn btn-primary btn-block' %>
       </div>
     </div>
     </div>
    <% end %>
    
  </div>
</div>

<script>


$("#driver_company").change(function(){
    

   var id = this.value;
   $.ajax({
        url: "/drivers/update_branch_menus",
        type: "POST",
        data: {company : id},
        dataType: "script",
        //dataType: "html",
        cache: false,
        success: function(data, textStatus){
            
            // console.log(`${data}`);
            
            $("#driver_branch").html(`${data}`);
      // 成功したとき
      // data にサーバーから返された html が入る
        },
        error: function(xhr, textStatus, errorThrown){
          // エラー処理
        }
    });
    
    
});


$("#driver_branch").change(function(){
    
    
   var branchid = this.value;
   $.ajax(
       {
        url: "/drivers/update_truck_menus",
        type: "POST",
        data: {branch : branchid},
        dataType: "script",
        //dataType: "html",
        cache: false,
        success: function(data, textStatus){
            $("#trucknumber").html(`${data}`);
        },
        error: function(xhr, textStatus, errorThrown){
          // エラー処理
        }
    });
    
});

$(document).ready(function() {
    var companyid = $("#driver_company").val();
    $("#trucknumber").html("<option value='' disabled selected style='display:none;'>No Entry</option>");

    if (companyid !== "") {
        debugger;
        $.ajax({
            url: "/drivers/update_branch_menus",
            type: "POST",
            data: {company : companyid},
            dataType: "script",
            //dataType: "html",
            cache: false,
            success: function(data, textStatus){
                
                // console.log(`${data}`);
                
                $("#driver_branch").html(`${data}`);
          // 成功したとき
          // data にサーバーから返された html が入る
            },
            error: function(xhr, textStatus, errorThrown){
              // エラー処理
            }
        });
    }
    
    var branchid = $("#driver_branch").val();
    if (branchid !== "") {
        $.ajax(
          {
            url: "/drivers/update_truck_menus",
            type: "POST",
            data: {branch : branchid},
            dataType: "script",
            //dataType: "html",
            cache: false,
            success: function(data, textStatus){
                $("#trucknumber").html(`${data}`);
            },
            error: function(xhr, textStatus, errorThrown){
              // エラー処理
            }
        });
    } else {
        $("#trucknumber").html("<option value='' disabled selected style='display:none;'>No Entry</option>");
    }
    
});


</script>