<div class="row bg-red">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_for(@driver) do |f| %>
    
     <div class="form-group">
         <%= f.label :name, 'Name' %>
         <%= f.text_field :name, class: 'form-control' %>
     </div>
     
     <div class="form-group">
        <%= f.label :company, "Company" %>
        <% @companies = allcompanies %>
        <%= select("driver", "company", @companies.collect { |p| [ p["name_e"], p["id"] ] }, { include_blank: true }, class:"form-control") %>
     </div>
     
     
    <div class="form-group">
        <%= f.label :branch, "Branch" %>
        <% @branches = allbranches(1) %>
        <%= select("driver", "branch", @branches.collect { |p| [ p["name"], p["id"] ] }, { include_blank: true }, class:"form-control") %>
        
        
     </div>
  
    <div class="form-group">
        <%= label_tag(:trucknumber, "truck") %>

        <% @trucks = alltrucks(1) %>
        <%  array = @trucks.map{ |e| [e["number"], e["number"]]  } %>
        <%= select_tag(:trucknumber, options_for_select(array.flatten.uniq)) %>

     </div>
  
     <div class="form-group">
         <%= f.label :sex, 'Gendar' %>
         <%= f.select :sex, {'Male': 1, 'Female': 2}, { include_blank: 'Please Select'}, { class: 'form-control' , required: true } %>
     </div> 
     
     <div class="form-group">
         <%= f.label :date_birth, 'Date of Birth' %>
         <%= f.date_field :date_birth, class: 'form-control' %>
     </div>
     
      <div class="form-group">
         <%= f.label :age, 'Age' %>
         <%= f.number_field :age, class: 'form-control' %>
     </div>
     
     <div class="form-group">
         <%= f.label :hire_date, 'Date of Hire' %>
         <%= f.date_field :hire_date, class: 'form-control' %>
     </div>
     
      <div class="form-group">
         <%= f.label :blood_type, 'BloodType' %>
         <%= f.select :blood_type, ['A(RH+)', 'B(RH+)', 'O(RH+)', 'AB(RH+)',
         'A(RH-)', 'B(RH-)', 'O(RH-)', 'AB(RH-)', 'Unknown'], { include_blank: 'Please Select'}, { class: 'form-control' , required: true } %>
     </div>
     
     <div class="form-group">
         <%= f.label :chronic_disease, 'Chronic Disease' %>
         <%= f.text_field :chronic_disease, class: 'form-control' %>
     </div>
     
      <div class="form-group">
         <%= f.label :accident_record, 'Accident Record' %>
         <%= f.text_field :accident_record, class: 'form-control' %>
     </div>
     
      <div class="form-group">
         <%= f.label :vioration_record, 'Vioration Record' %>
         <%= f.text_field :vioration_record, class: 'form-control' %>
     </div>     
     
   <div class="form-group">
         <%= f.label :email, 'email' %>
         <%= f.text_field :email, class: 'form-control' %>
   </div>     
   <div class="form-group">
         <%= f.label :password, 'password' %>
         <%= f.password_field :password, class: 'form-control' %>
   </div>     
   <div class="form-group">
         <%= f.label :password_confirmation, 'comfirmpassword' %>
         <%= f.password_field :password_confirmation, class: 'form-control' %>
   </div>     
     
     <%= f.submit 'Regist', class: 'btn btn-primary btn-block' %>
    <% end %>
    
  </div>
</div>

<script>


$("#driver_company").change(function(){
    

   var id = this.value;
   $.ajax({
        url: "/drivers/update_branch_menus",
        type: "POST",
        data: {company : id},
        dataType: "script",
        //dataType: "html",
        cache: false,
        success: function(data, textStatus){
            
            // console.log(`${data}`);
            
            $("#driver_branch").html(`${data}`);
      // 成功したとき
      // data にサーバーから返された html が入る
        },
        error: function(xhr, textStatus, errorThrown){
          // エラー処理
        }
    });
    
    
});


$("#driver_branch").change(function(){
    
    
   var branchid = this.value;
   $.ajax(
       {
        url: "/drivers/update_truck_menus",
        type: "POST",
        data: {branch : branchid},
        dataType: "script",
        //dataType: "html",
        cache: false,
        success: function(data, textStatus){
            $("#trucknumber").html(`${data}`);
        },
        error: function(xhr, textStatus, errorThrown){
          // エラー処理
        }
    });
    
});


</script>