<%= render 'admin/backtoadmin' %>

<div class="row bg-red">
  <div class="col-sm-6 offset-sm-3">
    
    <table class="table table-striped table-bordered bg-red">
    
     <tr>
         <th>Name</th>
         <td><%= @driver.name %></td>
     </tr>
  
     <tr>
         <th>Sex</th>
         <% sex_array = ["", "Male", "Female"] %>
         <td><%= sex_array[@driver.sex.to_i] %></td>
     </tr>
     
     <tr>
         <th>Date of Birth</th>
         <td><%= @driver.date_birth %></td>
     </tr>
     
     <tr>
         <th>Age</th>
         <td><%= @driver.age %></td>
     </tr>
     
     <tr>
         <th>Date of Hire</th>
         <td><%= @driver.hire_date %></td>
     </tr>
     
     <tr>
         <th>BloodType</th>
         <td><%= @driver.blood_type %></td>
      </tr>
     
     <tr>
         <th>Chronic Disease</th>
         <td><%= @driver.chronic_disease %></td>
     </tr>
     
     <tr>
         <th>Accident Record</th>
         <td><%= @driver.accident_record %></td>
     </tr>
     
     <tr>
         <th>Vioration Record</th>
         <td><%= @driver.vioration_record %></td>
     </tr>
     
    </table>
    
    <%= link_to "Edit", edit_driver_path(@driver), class:"btn btn-primary" %>
    <%= link_to "Delete", driver_path(@driver), method: :delete, class:"btn btn-danger" %>
    <%= link_to "Back To Index", drivers_path, class: "btn btn-success" %>
    
    <% if @driver.truckrelations.count > 0 %>
        <%= link_to "Back To Truck Driver List", 
         truckindex_admin_index_path(@driver.trucks.first.number), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>