
<div class="col-md-6">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Today's CheckList</h5>
 
    <div class="card-text">
        <div class="mb-1">
          
          <% if current_driver.has_meter? %>
             <span class="btn btn-warning">Meter Checked</span>
          <% else %>
          <%= link_to "Meters", new_meter_path, class:"btn btn-primary" %>
          <% end %>
        </div>
        <div class="mb-1">
          <% if current_driver.has_brake? %>
            <span class="btn btn-warning">Brake Checked</span>
          <% else %>
            <%= link_to "Brake & Side Brake", new_brake_path, class:"btn btn-primary" %>
          <% end %>
        </div>
        <div class="mb-1">
          <% if current_driver.has_lampStopperTire? %>
            <span class="btn btn-warning">Lamp/Stopper/Tire Checked</span>
          <% else %>
            <%= link_to "Lamps & Stopper & Tire Easy Check", new_lamp_stopper_tire_path, class:"btn btn-primary" %></div>
          <% end %>
       </div>

        <%  todo_hash = {
            "Engine Oil" => [new_engine_oil_path, "has_engineoil?"],
            "Air Reserver" => [new_air_reserver_path, "has_airreserver?"],
            "Battery" => [new_battery_path, "has_battery?"],
            "Tires" => [new_tire_path, "has_tire?"],
            "Oils & Tanks" => [new_oil_tank_path, "has_oil_tank?"],
            "Grease Up" => [new_greaseup_path , "has_greaseup?"],
            "Cab Up" => [new_cabup_path, "has_cabup?"],
            }
           %>


        <% if @todos.any? %>
    
          <% @todos.each do |todo| %>
            <% checkname = todo.checkmenu.name %>
            <% check_todo = todo_hash[checkname][1] %>
            <%#= check_todo %>
            <% if eval("current_driver.#{check_todo}") %>
                <span class="btn btn-warning"><%= checkname %></span>

            <% else %>
               <%= link_to checkname, todo_hash[checkname][0], class:"btn btn-primary" %>
            <% end %>
          <% end %>
    
        <% end %>
    </div>
</div>
 <hr>
 <div class="col-md-6">
 <div class="card">
  <div class="card-body">
    <h5 class="card-title">Today's Result</h5>
 
    <div class="card-text">
      <%= render 'layouts/flash_messages' %>
      <% if @dailyresult.persisted? %>
      <div class="col-md-6 btn btn-warning">
         Fuel data is already saved
      </div
      <% else %>
          <%= form_with(model: @dailyresult, url:dailyresults_url(@driver_id), local:true) do |f| %>
          <div class="row">
           <%= f.date_field :recorddate, value: Date.today %>
          </div> 
           <div class="row">
             <%= f.label :truck_id, "Truck Number" %>
             <div class="col-6">
               <%= f.collection_select :truck_id, @trucks, :id, :number, selected: @select, class:"form-control" %>
             </div>
           </div> 
           <%= f.label :mileage %>
           
           <div class="input-group">
             <%= f.number_field :mileage, min:0, step:0.01, min:@min_mileage, class: "form-control col-10 text-left" %>
             <span class="input-group-text col-2"> km </span>
           </div>
           <%= f.label :fuel %>
           <div class="input-group">
             <%= f.number_field :fuel, step:0.01, value: 0, min:0, class: "form-control col-10 text-left" %>
             <span class="input-group-text col-2">litter</span>
           </div>
           <%= f.submit "result send", class:"mt-3 btn btn-danger" %>
          <% end %>
      <% end %> 
    </div>
  </div>
 </div>
 </div> <!-- col-md-6 -->
 
 <% if Time.now.day <= 7 %>
  <div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Monthly Mileage Proof</h5>
 
 
   <div class="card-text">
    <% ml_proof = @driver.mileageproofs.build %>
    <% ml_proof.checkimages.build %>
    <%= form_with(model: ml_proof, local:true, multipart:true) do |f| %>
          <%= f.label :image, "Mileage Photo" %>
          <%= f.hidden_field :driver_id, value: @current_driver.id %>
          <div class="row">
            <%= f.fields_for :checkimages do |q| %>
              <%= q.file_field :image, accept:'image/*', capture:'environment' %>
            <% end %>
          </div>
          <%= f.submit "Send Photo", class:"mt-3 btn btn-danger" %>
    <% end %>
    </div>
    
    </div> <!-- card-body -->
    </div> <!-- card -->
 
 <% end %>
 
 
  </div>
</div>
