<div class="col-12 bg-white">
    <div class="row">
        <div class="col-12 text-center bg-w">
            <h2 class="bg-white">Driver Evaluation Table</h2>
        </div>
        <div class="col-4">
            <div class="card dphoto col-12">
                
            </div>
            <div class="card col-12">
              <div class="card-body">
                <h4 class="card-subtitle mb-2 text-muted">Name: <%= @driver.name %></h4>
                <p class="card-text"><%= @company.name_e %></p>
                <!--<a href="#" class="card-link">Card link</a>-->
                <!--<a href="#" class="card-link">Another link</a>-->
              </div>
            </div>
            
        </div>
        <div class="col-8">
            <table class="table table-bordered table-striped monthlyeval">
                <tr>
                    <td colspan="6" class="yellowbg text-center">Monthly Evaluate</td>
                </tr>
                <tr class="w-100">
                    <th class="w-10">Month</th> <th  class="w-25">Grade</th> <th>Score</th>
                    <th class="w-10">Month</th> <th  class="w-25">Grade</th> <th>Score</th>
                    
                </tr>
                <% (1..6).each do |m| %>
                <tr class="w-100">
                    <%
                    if (m < 4) 
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/0#{m + 6}" 
                    else
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/#{m + 6}" 
                    end
                     record1 = (r1 = @year_hash[key.to_s]) ? r1[:record] : nil 
                     record2 = (r2 = @year_hash[key2.to_s]) ? r2[:record] : nil 
                    %>
                    
                    <td> <%=  Date::MONTHNAMES[m] %></td>
                    <td> <%= record1 != nil ? record1[:evaluate] : "--" %></td>
                    <td> <%= record1 != nil ? record1[:rank] : "--" %></td>
                    <td> <%=  Date::MONTHNAMES[m + 6] %></td>
                    <td> <%= record2 ? record2.evaluate : "--" %></td>
                    <td> <%= record2 != nil ? record2[:rank] : "--" %></td>
                </tr>
                <% end %>
                <tr class="greenbg">
                    <th colspan="3" rowspan="2" class="text-center">
                         TOTAL EVALUATION
                    </th>
                    <th class="text-center">
                        GRADE
                    </th>
                    <th colspan="2" class="text-center">
                        SCORE
                    </th>
                </tr>
                <tr class="greenbg">
                    <td class="text-center">
                        <%= @ranking %>
                    </td>
                    <td colspan="2" class="text-center">
                        <%= @average %>
                    </td>
                </tr>
                
             </table>
        </div>
    </div>



   <div class="row mb-3">

       <div class="col-4">
              <%= @year_hash.keys %>
       </div>
       <div class="col-8">
           <table class="table table-bordered table-striped monthlyeval">
                <tr>
                    <td colspan="6" class="yellowbg text-center">Daily Check Result</td>
                </tr>
                <tr class="w-100">
                    <th class="w-10">Month</th> <th  class="w-25">Grade</th> <th>Score</th>
                    <th class="w-10">Month</th> <th  class="w-25">Grade</th> <th>Score</th>
                </tr>
                <% (1..6).each do |m| %>
                <tr class="w-100">
                    <%
                    if (m < 4) 
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/0#{m + 6}" 
                    else
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/#{m + 6}" 
                    end
                    %>
                    
                    <td> <%=  Date::MONTHNAMES[m] %></td>
                    <td> 
                        <%= @year_hash.keys.include?(key) ? 
                            @driver.get_checkitempoint(key) : "--" %>
                    </td>
                    <td> <%#= record1 != nil ? record1[:rank] : "--" %></td>
                    <td> <%=  Date::MONTHNAMES[m + 6] %></td>
                    <td>
                         <%= @year_hash.keys.include?(key2) ?
                            @driver.get_checkitempoint(key2) : "--" %>
                    </td>
                    <td> <%#= record2 != nil ? record2[:rank] : "--" %></td>
                </tr>
                <% end %>
            </table>

           
       </div>
   </div>
   </div>
    
    
    <!--  prev -->
    <div class="row mx-2 my-3">
        <% if false %>
        <% @year_array.each do |y| %>
            <div class="col-md-4">
                <% colorcls = (y == @now.year.to_i) ? 'btn-danger': 'btn-secondary' %>
                <%= link_to y.to_s, evaluates_driver_path(id: @driver, year: y), class:"btn btn-xs #{colorcls}" %>
            </div>
        <% end %>
        <% end %>
    </div>    
    
    
  <% if @evaluates.any? %>
      <table class="table table-striped table-bordered">
          <tr>
              <th>Ope Count</th> <th>Empty</th> <th>Occupied </th>
              <th>mileage</th> <th>Handling</th> <th>SpeedOver</th>
              <th>SpOverTime</th> <th>Scramble</th> <th>RapidAccel</th>
              <th>AbruptDecel</th> <th>Idling</th> <th>Running</th>
              <th>Evaluate</th> <th>km/l</th> <th>Rank</th> <th>RecoredAt</th>
          </tr>
           <% @evaluates.each do |eval| %> 
               <tr>
                   <td><%= eval.op_count %></td>
                   <td><%= eval.empty_conv %></td>
                   <td><%= eval.occupied_conv %></td>
                   <td><%= eval.mileage %></td>
                   <td><%= timecount_hm(eval.handling) %></td>
                   <td><%= eval.speedover %></td>
                   <td><%= timecount_hm(eval.speedover) %></td>
                   <td><%= eval.scramble %></td>
                   <td><%= eval.rapid_accel %></td>
                   <td><%= eval.abrupt_decel %></td>
                   <td><%= timecount_hm(eval.idling) %></td>
                   <td><%= timecount_hm(eval.running) %></td>
                   <td><%= eval.evaluate %></td>
                   <td> ----- </td>
                   <td> XX </td>
                   <td><%= eval.updated_at.strftime("%Y/%m") %></td>
               </tr>
           <% end %>
       </table>
    
  <% else %>
      <h1>No Evalutes record</h1>
  <% end %>
    
    
</div>