<div class="col-12 bg-white">
    <div class="row">
        <div class="col-12 text-center bg-w">
            <h2 class="bg-white">Driver Evaluation Table</h2>
        </div>
        <div class="col-12 text-right">
            <%= render 'fuel_button', flag: @displayflag %>
        </div>
        <div class="col-4">
            <div class="card dphoto col-12">
                
            </div>
            <div class="card col-12">
              <div class="card-body">
                <h4 class="card-subtitle mb-2 text-muted">Name: <%= @driver.name %></h4>
                <p class="card-text"><%= @company.name_e %></p>
                <p class="card-text">Birth: <%= @driver.date_birth.to_s %></p>
                <p class="card-text">HireDate: <%= @driver.hire_date.to_s %></p>
                <p class="card-text">BloodType: <%= @driver.blood_type %></p>

                <!--<a href="#" class="card-link">Card link</a>-->
                <!--<a href="#" class="card-link">Another link</a>-->
              </div>
            </div>
            
        </div>
        <div class="col-8">
            <table class="table table-bordered table-striped monthlyeval">
                <tr>
                    <th colspan="6" class="yellowbg text-center">Monthly Evaluate</th>
                </tr>
                <tr class="w-100">
                    <th class="w-10">Month</th> <th  class="w-25">Grade</th> <th>Score</th>
                    <th class="w-10">Month</th> <th  class="w-25">Grade</th> <th>Score</th>
                    
                </tr>
                <% (1..6).each do |m| %>
                <tr class="w-100">
                    <%
                    if (m < 4) 
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/0#{m + 6}" 
                    else
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/#{m + 6}" 
                    end
                     record1 = (r1 = @year_hash[key.to_s]) ? r1[:record] : nil 
                     record2 = (r2 = @year_hash[key2.to_s]) ? r2[:record] : nil 
                    %>
                    
                    <td> <%=  Date::MONTHNAMES[m] %></td>
                    <td> <%= record1 != nil ? record1[:evaluate] : "--" %></td>
                    <td> <%= record1 != nil ? record1[:rank] : "--" %></td>
                    <td> <%=  Date::MONTHNAMES[m + 6] %></td>
                    <td> <%= record2 ? record2.evaluate : "--" %></td>
                    <td> <%= record2 != nil ? record2[:rank] : "--" %></td>
                </tr>
                <% end %>
                <tr class="greenbg">
                    <th colspan="3" rowspan="2" class="text-center align-middle font1_5rem">
                         TOTAL EVALUATION
                    </th>
                    <th class="text-center">
                        GRADE
                    </th>
                    <th colspan="2" class="text-center">
                        SCORE
                    </th>
                </tr>
                <tr class="greenbg">
                    <td class="text-center font1_5rem fw-bold">
                        <%= @ranking %>
                    </td>
                    <td colspan="2" class="text-center font1_5rem fw-bold">
                        <%= @average %>
                    </td>
                </tr>
                
             </table>
        </div>
    </div>



   <div class="row">

       <div class="col-4">
       </div>
       <div class="col-8">
           <table class="table table-bordered table-striped monthlyeval">
                <tr>
                    <th colspan="6" class="yellowbg text-center">Daily Check Result</th>
                </tr>
                <tr class="w-100">
                    <th class="w-10">Month</th> <th  class="w-25">Score</th> <th>Grade</th>
                    <th class="w-10">Month</th> <th  class="w-25">Score</th> <th>Grade</th>
                </tr>
                <% totalcheck = 0 %>
                <% (1..6).each do |m| %>
                <tr class="w-100">
                    <%
                    if (m < 4) 
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/0#{m + 6}" 
                    else
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/#{m + 6}" 
                    end
                    %>
                    
                    <td> <%=  Date::MONTHNAMES[m] %></td>
                    <td> 
                        <%= @year_hash.keys.include?(key) ? 
                            val1 = @driver.get_checkitempoint(key) : "--" %>
                        <% totalcheck += val1.to_f %>
                    </td>
                    <td>
                        <%= @year_hash.keys.include?(key) ? 
                            @driver.conv_dvalue_to_ranking(val1) : "--" %>
                    </td>
                    <td> <%=  Date::MONTHNAMES[m + 6] %></td>
                    <td>
                         <%= @year_hash.keys.include?(key2) ?
                            val2 = @driver.get_checkitempoint(key2) : "--" %>
                        <% totalcheck += val2.to_f %>
                    </td>
                    <td>
                        <%= @year_hash.keys.include?(key2) ? 
                            @driver.conv_dvalue_to_ranking(val2) : "--" %>
                        </td>
                </tr>
                <% end %>
               <tr class="greenbg">
                    <th colspan="3" rowspan="2" class="text-center align-middle font1_5rem">
                         ANNUAL EVALUATION
                    </th>
                    <th class="text-center">
                        GRADE
                    </th>
                    <th colspan="2" class="text-center">
                        SCORE
                    </th>
                </tr>
                <tr class="greenbg">
                    <% avgcheck= totalcheck / @year_hash.keys.count.to_f  %>
                    <td class="text-center font1_5rem fw-bold">
                        <%= @driver.conv_dvalue_to_ranking(avgcheck) %>
                    </td>
                    <td colspan="2" class="text-center font1_5rem fw-bold">
                        <%= avgcheck  %>
                    </td>
                </tr>
            </table>

           
       </div>
   </div>
   
   <% if @displayflag.driverfuel? %>
   
    <div class="row">

       <div class="col-4">
       </div>
       <div class="col-8">
        <table class="table table-bordered table-striped monthlyeval">
            <tr>
                <th colspan="6" class="yellowbg text-center">Fuel Data:</th>
            </tr>
            <tr class="w-100">
                 <th class="w-10">Month</th> <th  class="w-25">Score</th> <th>Grade</th>
                 <th class="w-10">Month</th> <th  class="w-25">Score</th> <th>Grade</th>
            </tr>
            
            <% (1..6).each do |m| %>
                <tr class="w-100">
                    <%
                    if (m < 4) 
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/0#{m + 6}" 
                    else
                         key = "#{@year}/0#{m}"; key2 = "#{@year}/#{m + 6}" 
                    end
                    %>
                    
                    <td> <%=  Date::MONTHNAMES[m] %></td>
                    <td> 
                        <%= @year_hash.keys.include?(key) ? 
                            @driver.get_fuelcomsaption(key)[0] : "--" %>
                    </td>
                    <td> <%#= record1 != nil ? record1[:rank] : "--" %></td>
                    <td> <%=  Date::MONTHNAMES[m + 6] %></td>
                    <td>
                         <%= @year_hash.keys.include?(key2) ?
                            @driver.get_fuelcomsaption(key2)[0] : "--" %>
                    </td>
                    <td> <%#= record2 != nil ? record2[:rank] : "--" %></td>
                </tr>
            <% end %>            
           <tr class="greenbg">
                    <th colspan="3" rowspan="2" class="text-center align-middle font1_5rem">
                         ANNUAL EVALUATION
                    </th>
                    <th class="text-center">
                        GRADE
                    </th>
                    <th colspan="2" class="text-center">
                        SCORE
                    </th>
                </tr>
                <tr class="greenbg">
                    <td class="text-center font1_5rem fw-bold">
                        <%= "DUMMYRANK" %>
                    </td>
                    <td colspan="2" class="text-center font1_5rem fw-bold">
                        <%= "DUMMY" %>
                    </td>
                </tr>
            
            
            
            
            
            
        </table>

       </div>
   </div>
   <% end %>  <%# driverfuelset? %>
</div>
    
    

    
  
</div>